<h1><%= @recipe.name %></h1>

<h3><small>Recipe Calories Per Serving: <%= @recipe.count_calories.to_s %></small></h3>
<h4><small>Total Cook Time:</small></h4>
<h4><small>Recipe Rating: <%= @recipe.rating %></small></h4>




<% if @ingredients.any?() %>
  <form action='/recipes/<%= @recipe.id %>/ingredients' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <% @ingredients.each() do |ingredient| %>
      <div class='checkbox'>
        <label>
          <input type='checkbox' name='ingredient_ids[]' value='<%= ingredient.id %>'><%= ingredient.description %>
        </label>
      </div>
    <% end %>
    <button type='submit'>delete ingredients</button>
  </form>
<% end %>

<br>

<form action='/recipes/<%= @recipe.id %>' method='post'>
  <input id='description' name='description' type='text'>
  <label for='description'>Description</label>
  <input id='calories' name='calories' type='number'>
  <label for='calories'>Calories Per Serving</label>
  <button type='submit'>Add Ingredient</button>
</form>
<br><br><br>

<form action='/recipes/<%= @recipe.id %>' method='post'>
  <input type='hidden' name='_method' value='patch'>
  <label for='cook_time'>Cook Time:</label>
  <input id='cook_time' name='cook_time' type='text'>
  <label for='rate'>Rate this ingredient</label>
  <select name='rate' id='rate'>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
  </select>
  <button type='submit'>Rate</button>
</form>
<br><br>
<p>Add this recipe to a category:</p>
<% if @categories.any?() %>
  <form action='/recipes/<%= @recipe.id %>/categories' method='post'>
    <% @categories.each() do |category| %>
      <div class='checkbox'>
        <label>
          <input type='checkbox' name='category_ids[]' value='<%= category.id %>'><%= category.name %>
        </label>
      </div>
    <% end %>
    <button type='submit'>Submit</button>
  </form>
<% end %>
<br><br>
<p>Tags</p>
<% if @tags.any?() %>
    <% @tags.each() do |tag| %>
        <a href='/category/<%= tag.id %>'><%= tag.name %></a>
    <% end %>
<% end %>
<br><br>
<form action='/recipes/<%= @recipe.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <button type='submit'>Delete This Recipe</button>
</form>
